# Dependencies
node_modules

# Build output
dist

# Environment variables (uncomment if you want to ignore .env)
# .env

# Logs
*.log

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Next.js
.next